@page "/counter"
@using Microsoft.Extensions.Logging;
@using System.Diagnostics;
@inject ILogger<Counter> logger;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        logger.LogInformation("Someone has clicked me!");

        Debug.AutoFlush = true;
        Debug.WriteLine("Someone has clicked me!");
    }
}
